input{
    font-size: 1.5rem;
    padding: 5px;
    transition: all is ease-out;
}
input:focus{
    font-size: 2rem;
    padding: 10px;
}
img {
    padding: 20px;
    width: 250px;
    transition: width 1s ease 0.5s
}
img:hover {
    width: 350px;
}
html{
    background-color: blue;
}