/*Chris Hallett
March 23 2024*/
@font-face {
    font-family: 'greatvibes';
    src: url("../fonts/greatvibes-regular.woff") format('woff');
    src: url("../fonts/greatvibes-regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {    
    font-family: 'lobster';
    src:url("../fonts/lobster_1.3.woff") format('woff');
    src:url("../fonts/lobster_1.3.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '3dumb';
    src: url("../fonts/3dumb.woff") format('woff');
    src: url("../fonts/3dumb.woff2") format('woff2'); 
    font-weight: normal;
    font-style: normal;
}
ul li { 
    font-size: 40px;          
    font-family: 'greatvibes','Times New Roman', Times, serif;    
}
h1{
    margin-top: 5%;
    text-align: center;
    font-size: 40px;
    color:#8a2be2;
    font-family: '3dumb',Arial, Helvetica, sans-serif;
} 
main{    
    
    font-size: 40px; 
    color: #8a2be2;
    margin-left: 1%;
    font-family: 'lobster',Arial, Helvetica, sans-serif;
} 

section{    
    display: none;
    justify-content: space-evenly;
    text-align: center;
    
}
header img{
    display: none;
}
table{
    display: none;
    margin-left: 33%;   
}
footer{
    margin-top: 5%;
}

@media screen and (min-width:641px)
{
    header img{
        display: block;
    }  
nav{
    display: inline;   
}
table{
    display: block;
}
section {
    display: inline-flex;
    
    
}
}


