/*Chris Hallett
March 23 2024*/
@font-face {
    font-family: 'greatvibes';
    src: url("../fonts/greatvibes-regular.woff") format('woff');
    src: url("../fonts/greatvibes-regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {    
    font-family: 'lobster';
    src:url("../fonts/lobster_1.3.woff") format('woff');
    src:url("../fonts/lobster_1.3.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '3dumb';
    src: url("../fonts/3dumb.woff") format('woff');
    src: url("../fonts/3dumb.woff2") format('woff2'); 
    font-weight: normal;
    font-style: normal;
}
ul li { 
    font-size: 35px;   
    margin-left: 120px;     
    font-family: 'greatvibes','Times New Roman', Times, serif;    
}
h2{
    text-align: center;
    font-size: 2.0em;
    color:#8a2be2;
    font-family: '3dumb',Arial, Helvetica, sans-serif;
} 
main{
    clear: left;
    text-align: center;     
    font-size: 20px; 
    color: #8a2be2;
    margin-left: 1%;
    font-family: 'lobster',Arial, Helvetica, sans-serif;
} 
footer{                
      
    font-size: 1.5em;      
}
section{
    display: none;
    justify-content: space-between;

}
header img{
    display: none;
}
table{
    display: none;
}

@media screen and (min-width:641px)
{
    header img{
        display: block;
    }  
nav{
    display: inline;   
}
table{
    display: block;
}
section {
    display: inline-flex;
}
}


