/*Chris Hallett
March 23 2024*/
.projectExamples{ 
    width: 90%;
    margin: 0 auto;
}
.projectBox {
    background-image: linear-gradient(#ffa07a ,#DAA520 ,#FF69B4 ,#B0C4DE ,#6495ED);  
    
    float: left;
    margin: 10px;
    text-align: center;
    width: 30%;    
}
.projectBox img {
    margin-bottom: 20px;
    margin-left: 35%;
}
.semester{
    color:darkorchid;
    font-family: '3dumb',Arial, Helvetica, sans-serif;
    font-size: 20px;
}

