/* Chris Hallett
March 7, 2024 */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500&family=Crimson+Text:ital,wght@1,600&display=swap');

.websafe{
   
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}
.google {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: italic;

}
